<!DOCTYPE html>
<html lang='en' ng-app='itDashboard' ng-controller="itDashboardController">
<head>
	<title>IT Dashboard | TKE ZM | Index</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/global.css">

	<script src='/static/js/angular.min.js'></script>
</head>
<body>
	<header class='page_title'>
		<h1 class="content">IT Dashboard Index</h1>
		<h4 class="content">Login</h4>
	</header>
	<h2 class="content">System Status</h2>
	<div class='content'>
		<h3>Online: {{ onlineCount }}, Offline: {{ offlineCount }}</h3>
	</div>
	<div class="container">
	<h3 class="content">Access Points</h3>
	<table class="auto_width table table-striped">
	<tr>
		<th>Name</th><th>IP Address</th><th class='content' id='status'>Status</th>
	</tr>
	<tr ng-repeat="x in services.Services | filter:{ Id: 0 }">
		<td class='half-width'>{{ x.Name }}</td>
		<td>{{ x.IpAddress }}</td>
		<td>
			<span ng-if='x.Status!=true' class='content status_fail glyphicon glyphicon-remove' aria-hidden='true'></span>
			<span ng-if='x.Status==true' class='content status_ok glyphicon glyphicon-ok' aria-hidden='true'></span>
		</td>
	</tr>
	</table>

	<h3 class="content">Routers</h3>
	<table class="auto_width table table-striped">
	<tr>
		<th>Name</th><th>IP Address</th><th class='content' id='status'>Status</th>
	</tr>
	<tr ng-repeat="x in services.Services | filter:{ Id: 1 }">
		<td class='half-width'>{{ x.Name }}</td>
		<td>{{ x.IpAddress }}</td>
		<td>
			<span ng-if='x.Status!=true' class='content status_fail glyphicon glyphicon-remove' aria-hidden='true'></span>
			<span ng-if='x.Status==true' class='content status_ok glyphicon glyphicon-ok' aria-hidden='true'></span>
		</td>
	</tr>
	</table>

	<h3 class="content">Printers</h3>
	<table class="auto_width table table-striped">
	<tr>
		<th>Name</th><th>IP Address</th><th class='content' id='status'>Status</th>
	</tr>
	<tr ng-repeat="x in services.Services | filter:{ Id: 2 }">
		<td class='half-width'>{{ x.Name }}</td>
		<td>{{ x.IpAddress }}</td>
		<td>
			<span ng-if='x.Status!=true' class='content status_fail glyphicon glyphicon-remove' aria-hidden='true'></span>
			<span ng-if='x.Status==true' class='content status_ok glyphicon glyphicon-ok' aria-hidden='true'></span>
		</td>
	</tr>
	</table>

	<h3 class="content">Servers</h3>
	<table class="auto_width table table-striped">
	<tr>
		<th>Name</th><th>IP Address</th><th class='content' id='status'>Status</th>
	</tr>
	<tr ng-repeat="x in services.Services | filter:{ Id: 3 }">
		<td class='half-width'>{{ x.Name }}</td>
		<td>{{ x.IpAddress }}</td>
		<td>
			<span ng-if='x.Status!=true' class='content status_fail glyphicon glyphicon-remove' aria-hidden='true'></span>
			<span ng-if='x.Status==true' class='content status_ok glyphicon glyphicon-ok' aria-hidden='true'></span>
		</td>
	</tr>
	</table>

	</div>
</body>
<script src='/static/js/it_dashboard_controller.js'></script>
</html>