<!DOCTYPE html>
<html>
<head>
	<title>IT Dashboard | TKE ZM | Index</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
	<header><h1 class="content page_title">IT Dashboard Index</h1></header>
	<h2 class="content">System Statuses</h2>
	<div class="container">
	<h3 class="content">Access Points</h3>
	<table class="auto_width table table-striped">
	<tr>
	<th>Name</th><th>IP Address</th><th class='content' id='status'>Status</th>
	</tr>
	{{ range .AccessPoints }}
		<tr>
		<td>{{ .Name }}</td>
		<td>{{ .IpAddress }}</td>
		<td class='content'>
		{{ if .Status }}
			<span class='content status_ok glyphicon glyphicon-ok' aria-hidden='true'></span>
		{{ else }}
			<span class='content status_fail glyphicon glyphicon-remove' aria-hidden='true'></span>
		{{ end }}
		</td>
		</tr>
	{{ end }}
	</table>
	</div>
</body>
</html>